.SidebarThema {
  float: left;
  clear: left;
  width: 200px;
}
.MenuLink {
  font-weight: bold;
}
.mainClose {
  float: left;
  list-style-type: none;
}
.mainClose-X {
  float: left;
  list-style-type: none;
  margin-left: 74.1px;
}

.NoneSideberThema {
  display: none;
}
.w3-sidebar {
  background-color: #212529 !important;
  color: white;
}
 
.myMapClose {
  float: left;
  list-style-type: none; 
}
.MapClose-X {
  float: left;
  display: flex;
  list-style-type: none;
  margin-left: 30.1px;
}
